/*Elegir los colores que me convengan*/
.bg1{background: #16a085;}
.bg2{background: #27ae60;}
.bg3{background: #2980b9;}
.bg4{background: #16a085;}
.bg5{background: #8e44ad;}
.bg6{background: #e744c3;}
.bg7{background: #2c3e50;}
.bg8{background: #34495e;}
.bg9{background: #f1c40f;}
.bg10{background: #f39c12;}
.bg11{background: white;}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Puedo crear una clase que contenga todos los bg con una caja madre que tenga un css genérico para esas cajas. Ejemplo*/

.navbar {
    background-color: #f1c40f;
}
.navbar-brand {
    width: 20%;
}
/*Carousel*/
.carousel-item {
    width: 1600px;
    height: 400px;
}

/*Si quiero usar dos css puedo linkear dos en html o arrobar import url y el css entre ();*/

.vecinos {
    height: 200px;
}

.data {
    padding: 5px;
    background-color: white;
}

/*Estilos del curriculum*/
/*padre*/

.header {
    padding: 25px;
    display: flex;
    align-items: baseline;
    width: 60%;
    margin: auto;
    position: sticky;
	top: 0;
    z-index: 9999;
    background: linear-gradient(to bottom,
	rgba(252, 255, 65, 0.623),
	rgba(204,153,102, 15)
	)
}

.titulo {
    width: 60%;
}
h4{
    font-size: 38px;
}
nav {
    width: 60%;
    text-align: right;
}
a{
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

a:hover{
    opacity: 0.6;
    color:yellow;
}
.contenedor{
    margin: auto;
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center; /*ordene los elementos*/
    /*eje Y*/
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    /*align-items: center;*/
}

/*hijos*/
/*caja 1*/
.homero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.homero img{
    width: 30%;
}
.persona{
    width: 45%;
    border-top: 20px solid #f9fcbd;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 20px;
    padding: 0.5%;
}

/*caja 2*/
.texto{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
#experiencia, #premios, #influencia {
    background-color: rgb(214, 212, 74);
}
#trayectoria, #salud {
    background-color: rgb(230, 245, 146);
}


/*Media Queries*/ 
/*Disp. Grandes */
@media screen and (min-width:961px) and (max-width:1200px) {
    /*como un nuevo css*/
}
/*Disp. Medianos */
@media screen and (min-width:561px) and (max-width:960px) {
    .header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        text-align: center;
        width: 100%;
    }
    nav{
        text-align: center;
        width: 100%;;
    }
    h4{padding:10px}
    .contenedor {
        width: 90%;
    }
    .homero img {
        object-fit: cover;
        width: 240px;
    }
    h2{
        font-size: 26px;
    }
}
/*Disp. Pequeños */
@media screen and (min-width:0px) and (max-width:560px) {
    .header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        text-align: center;
        width: 100%;
    }
    nav{
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4px;
    }
    h4{font-size: 32px;
        padding: 1px;;
    }
    .homero{flex-direction: column;
    align-items: center;}
    .homero img {
        width: 60%;
        object-fit: contain;
}
.persona {
    width: 90%;
}
.contenedor {
    width: 100%;
}
h1 {
    font-size: 18px;

}


/*Estilos de error 404*/

/*Estilos de ciudad*/

/*Estilos de leamos*/