/*Elegir los colores que me convengan*/
.bg1{background: #16a085;}
.bg2{background: #27ae60;}
.bg3{background: #2980b9;}
.bg4{background: #16a085;}
.bg5{background: #8e44ad;}
.bg6{background: #e744c3;}
.bg7{background: #2c3e50;}
.bg8{background: #34495e;}
.bg9{background: #f1c40f;}
.bg10{background: #f39c12;}
.bg11{background: white;}

/*Puedo crear una clase que contenga todos los bg con una caja madre que tenga un css genérico para esas cajas. Ejemplo*/

.navbar {
    background-color: #f1c40f;
}
.navbar-brand {
    width: 20%;
}
/*Carousel*/
.carousel-item {
    width: 1600px;
    height: 400px;
}

/*Si quiero usar dos css puedo linkear dos en html o arrobar import url y el css entre ();*/

.vecinos {
    height: 200px;
}

.data {
    padding: 5px;
    background-color: white;
}

/*Estilos del curriculum*/
*{
    margin: 0%;
    padding: 0%;
    /*max-width: 1200px;*/
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

/*padre*/

.header {
    padding: 25px;
    display: flex;
    align-items: baseline;
    width: 60%;
    margin: auto;
    position: sticky;
	top: 0;
    z-index: 9999;
    background: linear-gradient(to bottom,
	rgba(252, 255, 65, 0.623),
	rgba(204,153,102, 15)
	)
}

.titulo {
    width: 60%;
}
h4{
    font-size: 38px;
}
.barra a {
    width: 60%;
    text-align: right;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
    color: black;
}


a:hover{
    opacity: 0.6;
    color:yellow;
}
.contenedor{
    margin: auto;
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center; /*ordene los elementos*/
    /*eje Y*/
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    /*align-items: center;*/
}

/*hijos*/
/*caja 1*/
.homero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.homero img{
    width: 30%;
}
.persona{
    width: 45%;
    border-top: 20px solid #f9fcbd;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 20px;
    padding: 0.5%;
}

/*caja 2*/
.texto{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
#experiencia, #premios, #influencia {
    background-color: rgb(214, 212, 74);
}
#trayectoria, #salud {
    background-color: rgb(230, 245, 146);
}
p{
    padding: 2px;
}

/*Media Queries*/ 
/*Disp. Grandes */
@media screen and (min-width:961px) and (max-width:1200px) {
    /*como un nuevo css*/
}
/*Disp. Medianos */
@media screen and (min-width:561px) and (max-width:960px) {
    .header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        text-align: center;
        width: 100%;
    }
    nav{
        text-align: center;
        width: 100%;;
    }
    h4{padding:10px}
    .contenedor {
        width: 90%;
    }
    .homero img {
        object-fit: cover;
        width: 240px;
    }
    h2{
        font-size: 26px;
    }
}
/*Disp. Pequeños */
@media screen and (min-width:0px) and (max-width:560px) {
    .header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        text-align: center;
        width: 100%;
    }
    nav{
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4px;
    }
    h4{font-size: 32px;
        padding: 1px;;
    }
    .homero{flex-direction: column;
    align-items: center;}
    .homero img {
        width: 60%;
        object-fit: contain;
}
.persona {
    width: 90%;
}
.contenedor {
    width: 100%;
}
h1 {
    font-size: 18px;

}

}

/*Estilos de error 404*/
/*background*/
.caja {
    background-image: url(https://www.ecestaticos.com/imagestatic/clipping/7c3/520/7c352078fa806dcdaa749ebf9a4eda50/de-hogwarts-a-rydell-aqui-mola-catear.jpg?mtime=1579565836);    
    background-size: cover;
    background-position: center;
    /*width: 100vh;*/
    height: 100vh;
    position: relative;

    overflow: hidden;
}
/*position, top, right, left, bottom*/
/*puedo usar transform: translate */

/*not found*/
.texto {
    position: absolute;
    top: 200px;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.747);
    padding: 20px;
}
h6{
    font-family: monospace;
    font-size: 40px;
    color: brown;
}
h4{
    padding: 15px;
    font-family: sans-serif;
    font-size: 25px;
}
a{
    font-family: sans-serif;
    /*background-color: yellow;*/
    border-radius: 10px;
    /*padding: 12px;*/
    /*margin: 10px;*/
    color: black;
    text-decoration: none;
    /*position: relative;*/
}
a:hover{
    opacity: 0.6;
}
/*
div img {
    width: 100%;
}*/

.globo {
    position: absolute;
    top: 5%;
    right: 1%;
    width: 40%;
    animation-name: volar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out ;

    /*overflow: hidden;*/
}
.bart {
    width: 8%;
    position: absolute;
    right: 550px;
    top: 491px;
}

.skinner {
    width: 8%;
    position: absolute;
    right: 450px;
    top: 495px;
    /*transform: translateX */
    animation-name: correr;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
    /*overflow: hidden;*/
}

/* animaciónes */
@keyframes correr{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(500px);
    }
}

@keyframes volar{
    5%{
        /*transform: rotate(0.1turn);*/
    }
    10%{
        transform: translateX(25px);
        /*transform: rotate(-0.1turn);*/
    }
    30%{
        transform: translate(150px, -5);
    }
    50%{
        /*me gustaria que rote un poco*/
        transform: translate(250px, -30%);
        
    }
    100%{
        transform: translate(370px, -50%);
    }

}


/*Estilos de ciudad*/

/*Estilos de leamos*/