/*Elegir los colores que me convengan*/
.bg1{background: #16a085;}
.bg2{background: #27ae60;}
.bg3{background: #2980b9;}
.bg4{background: #16a085;}
.bg5{background: #8e44ad;}
.bg6{background: #e744c3;}
.bg7{background: #2c3e50;}
.bg8{background: #34495e;}
.bg9{background: #f1c40f;}
.bg10{background: #f39c12;}
.bg11{background: white;}

/*Puedo crear una clase que contenga todos los bg con una caja madre que tenga un css genérico para esas cajas. Ejemplo*/
/*.alto{
    height: 300px;
}*/
.navbar {
    background-color: #f1c40f;
}
.homero {
    width: 20%;
}
/*Si quiero usar dos css puedo linkear dos en html o arrobar import url y el css entre ();*/
.header2 {
    background-color: bisque;
}
.slider {
    height: 300px;
    background-color: cadetblue;
    /*Acá podría haber una galeria de fotos, o al revés, la galeria arriba y el menú abajo*/
}

/*Cuando quiero que el texto se vea más chico en pantallas más chicas*/
/*Por predeterminado es 16px. Si queremos que el size sea responsive es solo por si queremos modificar la tipografía.
La única forma es con Sass, variables*/

